body {
	padding-top: 65px;
}

.navbar-brand, .navbar-nav>li>a {
	height: 65px;
	line-height: 50px;
}

.carousel-inner>.item {
	min-height: 600px;
	background-size: cover;
	background-position: center center;
}